{{#partial "content"}}
    <section style="background-color:rgb(217, 217, 217);">
        <div class="row">
            <div class="col-md-4">
        <h2 style="text-align:center;"> <a class="btns" href="/hero-form" >Create Your Hero</a><br><br> CURRENT HEROES</h2>

            {{#each hero}}
               <div class="card m-2">
                    <p>Name: {{ name }} </p>
                    <p>Age: {{ age }}</p>
                    <p>Hero's power: {{ power }}</p>
                    <p>Hero's Weakness: {{ weakness }}</p>
                    <p>Id: {{ id }}</p>
                    <a href="/squad" class="btns">Add {{ name }} To Squad</a>
                </div>

            {{/each}}
        </div>
            </div>
    </section>
{{/partial}}
{{> layout.hbs}}